/* Container central */
.login-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Card */
.login-card {
    background: #ffffff;
    width: 100%;
    max-width: 380px;
    padding: 40px 30px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.6s ease;
}

.login-card h1 {
    text-align: center;
    margin-bottom: 8px;
    color: #0f172a;
}

.subtitle {
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
    color: #64748b;
}

/* Inputs */
.input-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 13px;
    margin-bottom: 6px;
    color: #334155;
    font-weight: 600;
}

.input-group input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: #2563eb;
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}



/* Mobile */
@media (max-width: 480px) {
    .login-card {
        padding: 30px 20px;
    }

    .login-card h1 {
        font-size: 22px;
    }
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}