/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-left: 220px;
    padding: 25px;
    width: 100%;
}



/* Botão */
button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #1d4ed8;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0);
}